[includeIf "gitdir:~/Work/"]
	path=~/Work/.gitconfig

[IncludeIf "gitdir:~/Personal/"]
	path=~/Personal/.gitconfig

[include]
	path=~/Personal/.gitconfig

[core]
	editor = vim
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[color]
	ui = auto
[alias]
	# git add
	a = add --all
	#git add -i
	ai = add -i
	# git commit
	c = commit 
	# git commit -m
	cm = commit -m 
	# git clone
	cl = clone 
	# git clone --depth 1
	cld = clone --depth 1 
	# git pull --rebase origin
	pro = pull --rebase origin 
	# git push origin
	po = push origin 

[url "git@github.com:"]
	insteadOf = https://github.com/
