[user]
	name = prafitradimas
	email = prftrdms@gmail.com

[core]
	editor = vim
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[credential]
	credentialStore = gpg
	gitHubAuthModes = browser
