[user]
	name = prafitradimas
	email = prtrdms@gmail.com

[core]
	editor = nvim
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[credential]
	credentialStore = cache
	helper = store --file ~/.git-credentials
	gitHubAuthModes = browser
