let mapleader = " "
set scrolloff = 8

" tabs
nmap <leader>q :action CloseContent<cr>
nmap <leader>Q :action ReopenClosedTab<cr>
nnoremap [b :action PreviousTab<cr>
nnoremap ]b :action NextTab<cr>

" split panes
nmap <leader>wh :action SplitHorizontally<cr>
nmap <leader>wv :action SplitVertically<cr>
nmap <leader>wp :action PrevSplitter<cr>
nmap <leader>wn :action NextSplitter<cr>
nmap <leader>wc :action Unsplit<cr>
nmap <leader>wC :action UnsplitAll<cr>

" file
nmap <leader>gtf :action GotoFile<cr>
nmap <leader>gtc :action GotoClass<cr>
nmap <leader>gts :action GotoSymbol<cr>
nmap <leader>fs :action FileStructurePopup<cr>
nmap <leader>m :action ToggleBookmark<cr>

" refactor
nmap <leader>rq :action Refactorings.QuickListPopupAction<cr>
nmap <leader>rg :action Generate<cr>
vmap <leader>rm :action ExtractMethod<cr>
nmap <leader>rn :action RenameElement<cr>

" lines
vmap J :m '>+1<cr>gv=gv
vmap K :m '<-2<cr>gv=gv

" error
nmap <leader>x :action GotoNextError<cr>
nmap <leader>X :action GotoPreviousError<cr>
nmap <leader> :action ShowErrorDescription<cr>

" terminal
nmap <leader>T :action ActivateTerminalToolWindow<cr>

